{{ define "main" }}
  {{ partial "blocks/hero.html" . }}
  {{ partial "blocks/featured-story.html" . }}
  {{ partial "blocks/stats.html" . }}
  {{ partial "blocks/programs.html" . }}
  {{ partial "blocks/how-it-works.html" . }}
  {{ partial "blocks/stories.html" . }}
  {{ partial "blocks/testimonials.html" . }}
  {{ partial "blocks/partners.html" . }}
  {{ partial "blocks/promise.html" . }}
  {{ partial "blocks/np-banner.html" . }}
  {{ partial "blocks/blog-teaser.html" . }}
  {{ partial "blocks/get-involved.html" . }}
{{ end }}
